.checkout-modal {
    position: fixed;
    left: 40%;
    transform: translate(-50%, 0);
    right:50%;
    height:100%;
    background: #fff;
    width: 200px;
    height:50px;
    padding:20px;
    transition: var(--animation);
    z-index:100;
    display:flex;
    justify-content:space-between;
    background-color:var(--black);
    color:var(--white);
}
