:root{
    --base:#871717;
    --secondary:#E5E5E5;
    --grid:#F4F4F4;
    --close:#df4759;
    --modal:#DD501D;
    --white:#FFFFFF;
    --black:#000000;
    --animation:all .5s ease-out;
}
.close-button{
    background-color:#df4759;
    border:none;
    width:20px;
    height:20px;
    outline:none;
    cursor:pointer;
}